.container.d-flex.flex-column.align-items-center.justify-content-center.fill-height
    .row.w-100.m-2
        .col-12
            i.fa.input-icon.fa-user-o
            input.form-control(
                type="text" 
                '[(ngModel)]'="userName"
                '[class.border-error]' = "authService.error" 
                '(click)'="authService.error = null"
                placeholder="User name" 
                required)
    .row.w-100.m-2
        .col-12
            i.fa.input-icon.fa-envelope-o
            input.form-control(
                type="email" 
                '[(ngModel)]'="userEmail"
                '[class.border-error]' = "authService.error"
                '(click)'="authService.error = null"
                placeholder="Email" required)
    .row.w-100.m-2
        .col-12
            i.fa.input-icon.fa-lock
            input.form-control(
                type="password" 
                '[(ngModel)]'="userPassword"
                '[class.border-error]' = "authService.error"
                '(click)'="authService.error = null"
                placeholder="Password" required )
    .row.w-100.m-2
        .col-12
            button.btn.btn-primary.btn-block(
                type="button"
                '[attr.disabled]'="!userName || !userEmail || !userPassword ? '' : null"
                '(click)'="authService(authService.signUp(userEmail, userPassword))")
                span(*ngIf="!authService.auth" ) Sign up
                i.fa.fa-spinner.fa-pulse(*ngIf="authService.auth")
    .row.w-100.m-2(*ngIf="authService.error")
        .col-12.text-center
            span.text-error {{ authService.error }}
    .row.w-100.m-2
        .col-12.reg-button.text-center
            a(routerLink="/sign-in") 
                span back